

<div class="container">
  <h1>DASHBOARD OF THE PROFILE</h1>

  <p>Email: <%= @user.email %></p>
  <p>Username: <%= @user.username %></p>


  <%= link_to "Go back to HOME", root_path, class: "btn btn-primary" %>
</div>
