<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>




<%= link_to 'Create a new lesson', new_lesson_path, class: "btn btn-primary mb-3" %>




<h3>TODO:</h3>
<ul>
  <li><p>Maxime: Create a dashboard where the user can access all his lessons <strong>(We need to modify the routes)</strong></p>
  <li><p>Maxime: Link to profile in the navbar (pagesController #home)</p></li>
      <%#=  -----------------    ÇA MARCHE PAS     -----------------  %>
      <%#= link_to 'Go to Profile', profiles_path, class: "btn btn-primary mb-3" %>
</li>
</ul>
