
.homepage {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Empêche le défilement horizontal si le contenu dépasse la largeur de l'écran */
}


/* Styles pour la barre de navigation sur la page d'accueil */
.navbar-homepage {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 80px;
  fill: rgba(255, 252, 237, 0.37);
  backdrop-filter: blur(27.5px);
}
.navbar-scrolled {
  background-color: white;
}





/* Ajoutez ces styles pour éviter les marges sur le corps de la page */
body {
  margin: 0;
  padding: 0;
}

.header-section {
  height: 100vh;
  margin-top: -100px;
  background-size: cover;
  background-position: center;
  z-index: -3;
  padding: 0px 62px 64px;
}

// Bien refactor pour le Spicy Rice
.header-section h1 {
  // max-width: 880px;
  font-size: 3rem;
  font-family: 'Spicy Rice', cursive;
  color: rgba(254, 254, 235, 0.87);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button-container {
  max-width: 300px;
  margin: 0 auto;
}

.home-image {
  width: 577px;
  height: 553px;
  background-size: cover;
}


// SPICY FONT + COLORS
.spicy-rice-title {
  font-family: 'Spicy Rice', cursive;
  font-size: 50px;
}

.title-spicy-1 {
  color: #668A6E;
  padding-top: 30px;
}

.title-spicy-2 {
  color: #C27E62;
  padding-left: 90px;
  padding-top: 30px;
}

.subtitle-2 {
  padding-left: 90px;
}

.tile-spicy-3 {
  color: #F0E7A8;
  padding-top: 30px;
}

.tile-spicy-4 {
  padding-top: 30px;
}

.custom-size-footer {
  font-size: 44px;
}



// ELEMENTS TO MODIFY AFTER
.custom-bold-text {
  font-weight: bold;
}

.custom-parent-element-relative {
  position: relative;
}

.custom-child-element-absolute-left {
  position: relative;
  top: 0px;
  left: -150px;
}

.button-homepage {
  margin-top: 25px;
  margin-left: 50px;
}




