.header-section {
  height: 100vh;
  margin-top: -100px;
  background-size: cover;
  background-position: center;
  z-index: -3;
  padding: 0 45px 125px;
}

// Bien refactor pour le Spicy Rice
.header-section h1 {
  max-width: 880px;
  font-size: 3rem;
  font-family: 'Spicy Rice', cursive;
  color: #FFFFFF;
}


.home-image {
  width: 577px;
  height: 553px;
}


// SPICY FONT + COLORS
.spicy-rice-title {
  font-family: 'Spicy Rice', cursive;
  font-size: 70px;
}

.color-spicy-1 {
  color: #668A6E;
}

.color-spicy-2 {
  color: #C27E62;
}

.color-spicy-3 {
  color: #F0E7A8;
}

.custom-size-footer {
  font-size: 44px;
}



// ELEMENTS TO MODIFY AFTER
.custom-bold-text {
  font-weight: bold;
}

.custom-parent-element-relative {
  position: relative;
}

.custom-child-element-absolute {
  position: relative;
  top: 0px;
  left: -250px;
}
