
<%= month_calendar(events: @lessons) do |date, lessons| %>
  <%= date %>

  <% lessons.each do |lesson| %>
    <div class="lesson" style="background-color: #acceb4;">
      <p><%= link_to lesson.name, lesson_path(lesson) %></p>
    </div>
  <% end %>
<% end %>
