<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="col-md-6">
    <h1>Create a new Lesson</h1>
    <%= render 'form', lesson: @lesson %>
  </div>
</div>
