.lesson-title {
  color: #668a6e;
  text-align: center;
  font-family: Spicy Rice;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.lesson-info {
  margin-top: auto;
  color: black;
  font-family: 'Encode Sans', 'sans-serif';
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.fa-solid {
  color: #FF0000; /* Couleur du cœur plein */
}
