.video-iframe {
    height: auto;
    // max-height: 500px;
    aspect-ratio: 16 / 9;
    width: 100%;
}

.show-container {
  max-height: calc(100vh - 91px);
}

.show-information {
  padding-top: 15px;
}

.show-heart {
  padding-top: 30px;
}

.lesson-title {
  color: #668a6e;
  text-align: center;
  font-family: Spicy Rice;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.lesson-info {
  // margin-top: auto;
  color: black;
  font-family: 'Encode Sans', 'sans-serif';
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  padding: 15px !important;
  // line-height: normal;
}

.fa-solid {
  color: #FF0000; /* Couleur du cœur plein */
}

.lesson-button {
  padding: 15px !important;
  margin-bottom: auto;
}

.show-heart{
  padding: 27px;
}
