.lesson-title {
  color: #668a6e;
  text-align: center;
  font-family: Spicy Rice;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.green-btn {
    background-color: #668a6e;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
