.green-btn {
  background-color: #668a6e;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.green-btn-big {
  background-color: #668a6e;
  padding: 15px 150px;
  font-size: 36px;
  font-family: 'Spicy Rice', 'cursive';
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
