.green-btn {
  background-color: #668a6e;
  padding: 14px 22px;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.pink-btn-big {
  background-color:  #C27E62;
  padding: 10px 90px;
  font-size: 24px;
  font-family: 'Spicy Rice', 'cursive';
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
  color: #FEFEEB;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.pink-btn-big:hover{
  color:  #C27E62;
}
