.green-btn {
  background-color: #668a6e;
  padding: 15px 40px;
  text-decoration: none;
  color:rgba(254, 254, 235, 0.87);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: var(--blanc-cass, #FEFEEB);
  text-align: center;
  font-family: Encode Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-block;
}

.red-btn-round {
  background-color: #E2C3B7;
  padding: 14px 22px;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}




.pink-btn-big {
  background-color:#C27E62;
  padding: 10px 90px;
  font-size: 24px;
  font-family: 'Spicy Rice', 'cursive';
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
  color: #FEFEEB;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.pink-btn-big:hover{
  color:  #C27E62;
}

.orange-btn {
  background-color:#668A6E;
  padding: 15px 40px;
  text-decoration: none;
  color:rgba(254, 254, 235, 0.87);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: var(--blanc-cass, #FEFEEB);
  text-align: center;
  font-family: Encode Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-block;
}


.orange-btn-calendar {
  display: inline-block;
  background-color: #668A6E;
  padding: 15px 20px;
  text-decoration: none;
  color:rgba(254, 254, 235, 0.87);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: var(--blanc-cass, #FEFEEB);
  text-align: center;
  font-family: Encode Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
