.simple-calendar {
  table {
    width: 100%;
    min-height: 80vh;
    border-collapse: collapse;
    background-image: url('calendar/sunflower.jpg'); /* Remplacez par le chemin vers votre image de tournesol */
    background-size: cover;
    margin-top: 16px;
  }

  td, th {
    border: 1px solid #633d2e; /* Couleur terracota */
    padding: 8px;
    text-align: center;
  }

  .today {
    background-color: rgba(99, 61, 46, 0.5); /* Couleur terracota semi-transparente */
  }

  .calendar-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #633d2e; /* Couleur terracota */
    fill: rgba(255, 252, 237, 0.37);
    backdrop-filter: blur(60px);
    padding: 0 16px;
    // border-radius: 8px;
    color: white;
  }

  .calendar-title {
    margin: 0 16px;
    color: black;
  }

  /* Styles pour les événements/leçons ici */
  .lesson {
    color: white;
    padding: 6px 22px;
    border-radius: 4px;
    background:  rgba(90, 164, 164, .6);
    transition: background 0.3s ease;
  }

  .lesson:hover {
    background:  rgba(90, 164, 164, .9);
  }
}

.terracota-theme {
  // background-color:  rgba(90, 164, 164, .6); /* Couleur terracota de base, à ajuster */
  // fill: rgba(255, 252, 237, 0.37);
  // backdrop-filter: blur(60px);
  background: url('path/to/your/tournesol.jpg') no-repeat center center;
}

.terracota-theme .calendar-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
   /* Remplacez par le chemin vers votre image de tournesol */
  background-size: cover;
}

.terracota-theme .date-link,
.terracota-theme .lesson-link {
  color: #fff; /* Couleur du texte, à ajuster */
}

/* Ajoutez d'autres styles selon vos préférences ici */
