.s-card {
  width: 339px;
  height: 258px;
  border-radius: 30px;
  background-size: cover;
  background-position: center 59%;
  overflow: hidden;
  position: relative;
  transition: .3s ease-in-out;

  .s-card-media {
    pointer-events: none;
    cursor: default;
    width: 100%;
    height: 100%;

    iframe {
      width: 100%;
    }
  }

  &:hover .tag-selector-checkbox + label:after {
    color: rgba(90, 164, 164, .6);
    transition: .3s ease-in-out;
  }
  &:hover .tag-selector-checkbox:checked + label:after {
    color: white;
    transition: .3s ease-in-out;
  }


  .bottom-band {
    width: 100%;
    // box-shadow: inset 0 0 0 3000px rgba(150, 150, 150, 0.192);
    // backdrop-filter: blur(10px);
    fill: rgba(255, 252, 237, 0.37);
    backdrop-filter: blur(60px);
    border-radius: 30px;
    overflow: hidden;
    padding: 20px;

    .s-card-infos-secondary {
      margin-bottom: 20px;
    }

    .title-card {
      font-family:'Encode Sans';
      color: #000;
      font-size: 22px;
      font-weight: bold;
      font-weight: 700;
      line-height: normal;
    }

    .subtitle-card {
      color: #000;
      font-family: 'Poppins';
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0;
    }
    .uncheked-box {
      width: 46px;
      height: 46px;
      background-color: white;
      border-radius: 10px;
    }
  }
}
.s-card-full {
  position: relative;
  overflow: hidden;

  .bottom-band{
    position: absolute;
    bottom: -100px;
  }
}

.s-card-posture {
  .bottom-band {
    position: absolute;
    bottom: -158px;
    transition: .3s ease-in-out;
  }

  &:hover .bottom-band {
    bottom: 0;
    transition: .3s ease-in-out;
  }
}
