.s-card {
  width: 339px;
  height: 258px;
  border-radius: 30px;
  margin-bottom: 29px;
  background-size: cover;
  background-position: center 59%;
  overflow: hidden;

  .bottom-band {
    width: 100%;
    min-height: 92px;
    fill: rgba(255, 252, 237, 0.37);
    backdrop-filter: blur(27.5px);
    border-radius: 30px;
    overflow: hidden;
    padding: 20px;

    .title-card {
      font-family: $headers2-font;
      color: #000;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .subtitle-card {
      color: #000;
      font-family: Poppins;
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0;
    }
    .uncheked-box {
      width: 46px;
      height: 46px;
      background-color: white;
      border-radius: 10px;
    }
  }
}
